<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        header {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        footer {
            background-color: #333;
            color: #fff;
            padding: 20px 0;
            text-align: center;
            margin-top: 50px;
        }

        .comment-container {
            margin-top: 20px;
        }

        .comment {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<header>
    <div class="container">
        <a href="/client/home">Мероприятия</a>
        <nav class="nav justify-content-center">
            <a class="nav-link" href="/client/mrList">Просмотр мероприятий</a>
            <a class="nav-link" href="/client/requestList">Заявки</a>
            <a class="nav-link" href="/logout">Выйти</a>
        </nav>
    </div>
</header>

<div class="container mt-5">
    <h2 class="text-center mb-3">Комментарии пользователей</h2>

    <form action="/client/addComment" method="post">
        <input type="hidden" id="mrId" name="mrId" th:value="${id}">
        <div class="form-group">
            <label for="comment">Комментарий:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Добавить комментарий</button>
    </form>

    <div class="comment-container">
        <div class="comment" th:each="mrInfo : ${mrInfo}">
            <p><strong th:text="${mrInfo.mrUser.userLogin}"></strong>: <span th:text="${mrInfo.mrReview}"></span></p>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <p>Контактная информация: +375447860021</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
